* {
    border: 1px dotted rebeccapurple;
}

.testimonial-container {
    padding-top: 75px;
}

.testimonial-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5em;
}

.citation-content, .citation-author {
    color: #111827;
}

.citation-content{
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.author-title-wrapper{
    padding-top: 13px;
    padding-bottom: 75px;
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    /* diameter of the circle */
    --d: 2px; 
    background : radial-gradient(
        circle at 
            var(--d) 
            var(--d), 
            
        #E5E7EB calc(var(--d) - 1px), 
        #0000 var(--d)
        ) 
        0 0 / 15px 15px;
}

.citation-author {
    font-size: 1rem;
    line-height: 1.5;
}

.citation-title{
    color: #6B7280;
}

.citation-separator {
    color: #2E59F3;
    font-size: 1.25rem;
    font-weight: bold;
}