div.banner {
    padding: 1em;
    display: flex;
    border-radius: 6px;
}

.icon {
    margin-right: .75em;
    height: 1em;
    width: 1em;
}

div.banner-text {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

h2.banner-headline {
    font-weight: bold;
    font-size: .875rem;
}

div.banner-children {
    font-weight: 400;
    font-size: .875rem;
    margin-top: .5em;
}


/* Colors for badge styles */
.success {
    color: #047857;
    background-color: #ECFDF5;
}

.success h2:first-child{
    color: #065F46;
}

FaCheckCircle {
    color: #34D399;
}

.warning {
    color: #B45309;
    background-color: #FFFBEB;
}

.warning h2:first-child{
    color: #92400E;   
}

FaExclamationTriangle {
    color: #FBBF24;
}

.error {
    color: #B45309;
    background-color: #FEF2F2;
}

.error h2:first-child{
    color: #92400E;
}

FaTimesCircle {
    color: #F87171;
}

.neutral {
    color: #1C51B9;
    background-color: #EFF6FF;
}

.neutral h2:first-child {
    color: #1E40AF;
}

FaInfoCircle {
    color: #60A5FA;
}