div.banner {
    padding: 1em;
    display: flex;
    border-radius: 6px;
}

.icon {
    margin-right: .75em;
    height: 1em;
    width: 1em;
}

div.banner-text {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

h2.banner-headline {
    font-weight: bold;
    font-size: .875rem;
    margin-bottom: .5em;
}

div.banner-text:not(:first-child) {
    
    font-weight: 400;
    font-size: .875rem;
}


/* Colors for badge styles */
.success {
    color: #065F46;
    background-color: #ECFDF5;
}

.success:not(h2){
    color: #047857;
}

FaCheckCircle {
    color: #34D399;
}

.warning {
    color: #92400E;
    background-color: #FFFBEB;
}

.warning:not(h2){
    color: #B45309;
}

FaExclamationTriangle {
    color: #FBBF24;
}

.error {
    color: #92400E;
    background-color: #FEF2F2;
}

.error:not(h2){
    color: #B45309;
}

FaTimesCircle {
    color: #F87171;
}

.neutral {
    color: #1E40AF;
    background-color: #EFF6FF;
}

.neutral:not(h2){
    color: #1C51B9;
}

FaInfoCircle {
    color: #60A5FA;
}